@model CatalogueModel
@{
    ViewData["Title"] = "Catalogue";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Catalogue == null)
{
    <p>There are no books in the library!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Total copies
            </th>
            <th>
                Copies available
            </th>
        </tr>
        @foreach (var book in Model.Catalogue)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Isbn</td>
                <td>@book.NumCopies</td>
                <td>@book.NumAvailable</td>
            </tr>
        }
    </table>
}