@model CopiesViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Author"] = Model.Author;
}

<h1>@ViewData["Title"]</h1>
<h3>by @ViewData["Author"]</h3>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Status
        </th>
        <th>
        </th>
    </tr>
    @foreach (var copy in Model.Copies)
    {
        <tr>
            <td>@copy.CopyId</td>
            @if (string.IsNullOrEmpty(copy.Username))
            {
                <td>
                    Available to borrow
                </td>
                <td>
                </td>
            }
            else
            {
                <td>
                    Unavailable - held by @copy.Username
                </td>
                <td>
                    Due on @copy.DueDate.ToShortDateString()
                </td>
            }
        </tr>
    }
</table>