@model CopiesViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["Author"] = Model.Author;
}

<div class="header">
    <h1>@ViewData["Title"] - by @ViewData["Author"]</h1>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Status
            </th>
            <th>
                Loan
            </th>
        </tr>
        @foreach (var copy in Model.Copies)
        {
            <tr>
                <td>@copy.CopyId</td>
                <td>@Model.GetStatus(copy)</td>
                <td>
                    @if (string.IsNullOrEmpty(copy.Username))
                    {
                        <form asp-action="AddLoan" asp-route-copyID="@copy.CopyId">
                            <div class="form-row">
                                <button type="submit" class="btn btn-primary">Loan for two weeks</button>
                            </div>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
</div>